<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>QLGenerator</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>org.mesh</string>
				<string>org.obj</string>
				<string>org.off</string>
			</array>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>Mesh</string>
	<key>CFBundleIconFile</key>
	<string></string>
	<key>CFBundleIdentifier</key>
	<string>org.mesh.quicklook</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Mesh</string>
	<key>CFBundleShortVersionString</key>
	<string>1.1</string>
	<key>CFBundleVersion</key>
	<string>1.2</string>
	<key>CFPlugInDynamicRegisterFunction</key>
	<string></string>
	<key>CFPlugInDynamicRegistration</key>
	<false/>
	<key>CFPlugInFactories</key>
	<dict>
		<key>C00EB589-55DF-45ED-B4B8-8AFFA367CFCF</key>
		<string>QuickLookGeneratorPluginFactory</string>
	</dict>
	<key>CFPlugInTypes</key>
	<dict>
		<key>5E2D9680-5022-40FA-B806-43349622E5B9</key>
		<array>
			<string>C00EB589-55DF-45ED-B4B8-8AFFA367CFCF</string>
		</array>
	</dict>
	<key>CFPlugInUnloadFunction</key>
	<string></string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright 2013 Alec Jacobson</string>
	<key>QLNeedsToBeRunInMainThread</key>
	<true/>
	<key>QLPreviewHeight</key>
	<real>405</real>
	<key>QLPreviewWidth</key>
	<real>720</real>
	<key>QLSupportsConcurrentRequests</key>
	<true/>
	<key>QLThumbnailMinimumSize</key>
	<integer>32</integer>
	<key>UTImportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.image</string>
			</array>
			<key>UTTypeDescription</key>
			<string>3d tetrahedral mesh</string>
			<key>UTTypeIdentifier</key>
			<string>org.mesh</string>
			<key>UTTypeReferenceURL</key>
			<string>http://www.ann.jussieu.fr/frey/publications/RT-0253.pdf#page=33</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>mesh</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.image</string>
			</array>
			<key>UTTypeDescription</key>
			<string>3D model format</string>
			<key>UTTypeIdentifier</key>
			<string>org.obj</string>
			<key>UTTypeReferenceURL</key>
			<string>http://en.wikipedia.org/wiki/Wavefront_.obj_file#File_format</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>obj</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.image</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Geomview's polyhedral file format</string>
			<key>UTTypeIdentifier</key>
			<string>org.off</string>
			<key>UTTypeReferenceURL</key>
			<string>http://tetgen.berlios.de/fformats.off.html</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>off</string>
				</array>
			</dict>
		</dict>
	</array>
</dict>
</plist>
