# use glob syntax.
syntax: glob
scripts/change_name.sh
*.so
*.so.[0123456789]
*.so.[0123456789].[0123456789]
*.o
*.a
*.dylib
*~
*CMakeFiles*
example
examples/bbw/bbw_demo_selfcontained/*
examples/bbw/bbw_demo_selfcontained.zip
examples/quicklook-mesh/Mesh.qlgenerator/*
examples/*/*.mexmaci64
examples/*/*.rbr
example_static
example_header_only
example1
external/yimg/.git*
external/tinyxml2/CMakeFiles*
external/tinyxml2/CMakeCache.txt
external/tinyxml2/cmake_install.cmake
external/tinyxml2/Makefile
external/embree/build/*
external/embree/bin/*
external/embree/bin
external/embree/doc/html/*
external/embree/doc/latex/*
.DS_Store
libigl.zip
*tags
*.exe
*.pdb
*.sdf
*.suo
*.ilk
*.log
*.tlog
Debug/
Release/
*.orig
*.user
*.vsp
*.opensdf
*.psess
*.swp
*.swo
documentation/*.aux
documentation/*.out
documentation/*.log
doc.html
examples/bbw/bbw_demo
external/medit/rebar.rbr
examples/bbw/examples/*-volume.dmat
examples/bbw/examples/*-volume.mesh
examples/upright/upright
examples/principal_curvature/curvature
external/MeshFix/meshfix
external/embree/build/*
external/tetgen/tetgen
external/tinyxml2/test
external/tinyxml2/tinyxml2.pc
external/yimg/showpng
README.html
tutorial/readme.html
tutorial/*/build/*
tutorial/*/Makefile
external/glew/build
external/glfw/build
*buildXcode*
tutorial/build*
tutorial/*/*.mexmaci64
external/libpng/build
external/tinyxml2/build
optional/build
lib
tutorial/XXX_test/CMakeLists.txt
tutorial/XXX_test/main.cpp
python/py_igl/todo
python/build
python/.idea
untitled
Untitled.ipynb
python/.ipynb_checkpoints
python/py_igl/todo
python/__pycache__
iglhelpers.pyc
python/build2
tests/build
tests/bin
python/build3
*.pyc
python/build4
