# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Build folders
/cmake-build*
/build*
/tests/data
/tutorial/data
/install
/vcpkg_installed

# Libigl specific
LibiglOptions.cmake

# vim debris
.*.un~
.*.swo
.*.swp

# macos debris
.DS_Store

# CMake specific
CMakeUserPresets.json

# IDE
.idea/
.vs/
.vscode/