[submodule "external/nanogui"]
	path = external/nanogui
url=https://github.com/libigl/nanogui.git
        fetchRecursiveSubmodules = true
        ignore = dirty

[submodule "external/embree"]
	path = external/embree
	url = https://github.com/embree/embree.git

[submodule "external/googletest"]
	url = https://github.com/google/googletest.git
	path = external/googletest
[submodule "tests/googletest"]
	path = tests/googletest
	url = https://github.com/google/googletest.git
