[submodule "external/nanogui"]
	path = external/nanogui
url=https://github.com/libigl/nanogui.git
        fetchRecursiveSubmodules = true
        ignore = dirty
[submodule "external/embree"]
	path = external/embree
	url = https://github.com/embree/embree.git
[submodule "external/cgal"]
	path = external/cgal
	url = https://github.com/CGAL/cgal.git
[submodule "external/tetgen"]
	path = external/tetgen
	url = https://github.com/libigl/tetgen.git
[submodule "external/triangle"]
	path = external/triangle
	url = https://github.com/libigl/triangle.git
[submodule "external/tinyxml2"]
	path = external/tinyxml2
	url = https://github.com/leethomason/tinyxml2.git
[submodule "external/CoMISo"]
	path = external/CoMISo
	url = https://github.com/libigl/CoMISo.git
[submodule "external/cork"]
	path = external/cork
	url = https://github.com/libigl/cork.git
