#
# This list is used by git-shortlog to fix a few botched name translations
# in the libigl archive, either because the author's full name was messed up
# and/or not always written the same way, making contributions from the
# same person appearing not to be so.
#
Alec Jacobson <alecjacobson@gmail.com> Alec Jacobson (jalec <Alec Jacobson (jalec@inf.ethz.ch)>
Alec Jacobson <alecjacobson@gmail.com> jalec <devnull@localhost>
Alec Jacobson <alecjacobson@gmail.com> Alec Jacobson <ajx@Luftmatratze.local>
Alec Jacobson <alecjacobson@gmail.com> ajx <devnull@localhost>
Alec Jacobson <alecjacobson@gmail.com> mangledorf <alecjacobson@gmail.com>
Daniele Panozzo <panozzo@inf.ethz.ch> Daniele Panozzo <daniele.panozzo@gmail.com>
Daniele Panozzo <panozzo@inf.ethz.ch> dpanozzo <devnull@localhost>
