table
{
  border-spacing: 0px;
}

table.full
{
  width: 100%;
  table-layout: fixed;
}

tr.header th
{
  border-bottom: 1px solid; 
  background-color: #ffb;
  padding-left: 10px;
  padding-right: 20px;
  text-align: left;
}
tr.d0 td 
{
  background-color: #EEE; 
  color: black;
  padding-left: 10px;
  padding-right: 20px;
  min-width: 200px;
}
tr.d1 td
{
  background-color: #bcf; 
  color: black;
  padding-left: 10px;
  padding-right: 20px;
  min-width: 200px;
}

tr.gotcha1 td
{
  background-color: #fcb;
  color: black;
  padding-left: 10px;
  padding-right: 20px;
  min-width: 200px;
}

tr.gotcha2 td
{
  background-color: #fed;
  color: black;
  padding-left: 10px;
  padding-right: 20px;
  min-width: 200px;
}
/* Don't color pre tag like a box when it shows up in table */
tr pre
{
  background-color: inherit;
  border: 1px dashed #888;
  overflow: auto;
  padding: none;
}

.note:before
{
  font-style: normal;
  content: "Note: ";
}
.note
{
  background-color: #ddd;
  border: 1px solid #bbb;
  margin-top: 2px;
  margin-bottom: 2px;
  font-style: italic;
  padding-left: 4px;
  padding-right: 4px;
  padding-top: 2px;
  padding-bottom: 2px;
}
span.highlight
{
  background-color: #4F5;
}
a 
{
  text-decoration:none;
  border:none;
  outline:none;
  color:#0645AD;
}
a:hover 
{
  color:#0645AD;
  text-decoration: underline;
}
a.missing
{
  color:#F32;
}
a:visited
{
  color:#0b0080;
}
span.todo:before
{
  font-style: normal;
  content: "TODO: ";
}
span.todo
{
  color: #F54;
  font-style: italic;
}
pre
{
  background-color: #c3e0f0;
  overflow: auto;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 4px;
  padding-bottom: 4px;
  border: 1px solid #999;
}
img.center
{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

body, html
{
  margin: 0px;
  padding: 0px;
  background-color: #bbb;
  font-family: "HelveticaNeueLight", "HelveticaNeue-Light", "Helvetica Neue Light", "HelveticaNeue", "Helvetica Neue", 'TeXGyreHerosRegular', "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif; font-weight:300; font-stretch:normal;
  height: 100%;
}

.article_outer
{
  padding: 0px;
  margin:0px auto;
  /* 600px = 2*300px wider that article_inner*/
  width: 1415px;
}

.article_inner
{
  padding: 20px;
  position:relative;
  font-size: 14pt;
  background-color: #fff;
  margin:0px auto;
  border-left: 1px solid #888;
  border-right: 1px solid #888;
  width: 815px;
  text-align: left;
}

#container
{
  position:absolute;
  top:0px;
  bottom: -0px;
  left:0px;
  right:0px;
  overflow:auto;
}

#fixed_sidebar
{
  margin: 0px;
  position:absolute;
  padding: 5px 10px;
  top:10px;
  left:0px;
  right:0px;
  background-color: #fff;
  overflow:hidden;
  width: 250px;
  z-index:100;
  border-right: 1px solid #888;
  border-top: 1px solid #888;
  border-bottom: 1px solid #888;
}
ul
{
  margin:0px;
  padding: 0px 20px;
  /*list-style-type:none;*/
}
li { font-size: 100% }
li li { font-size: 90% }
li li li { font-size: 80% }
li li li li { font-size: 70% }
li li li li li { font-size: 60%}

